{% extends '::base.html.twig' %}

{% block title %}
  Secured!!!
{% endblock %}

{% block body %}
   <div>Contenuto protetto accessibile solo ad utenti loggati (via facebook o normalmente), e tu sei un utente loggato vero?!?</div>
{% endblock %}
