{% extends '::base.html.twig' %}

{% block title %}
   Auanna!
{% endblock %}

{% block body %}
   <div>Hello {{ name }}!</div>
   
   <div><a href="{{ path('home') }}">Go to home</a></div>
{% endblock %}
