{% extends '::base.html.twig' %}

{% block title %}
   Auanna!
{% endblock %}

{% block body %}
   <div>Welcome</div>
   
   <div>You can try to go on an  <a href="{{ path('hello', { 'name': 'eux' }) }}">open page that greets eux</a></div>
   <div>Or You can try to go to a <a href="{{ path('secured') }}">page accessible only to logged users (fb + normal users)</a></div>
   <div>Or You can try to go to a  <a href="{{ path('protected') }}">page reserved for admins (user: eux, password: auanna)</a></div>
{% endblock %}
